/**
 * Nuttin' too fancy here. Perhaps even bits of sloppiness, sorry. 
 *
 * The general presumption is this is template to be forked and tweaked / refactored as others see fit. 
 * It exists simply to live up to its family name...ez :)
 *
 * That said, suggestions are welcomed.
 */
html {
  overflow-y: scroll;
}

body{
  font-family: Arial, sans-serif;
  font-size:35px;
  line-height:1.1
}

#page-wrap{
  padding:0 5px 10px 10px
}

#page-wrap .fa{
  color:#000;
  font-size:25px;
  margin:0 5px;
}

#form1{ 
  display:inline-block;
  vertical-align:top;
  margin-top:-0.0em;
}

#wrap{
  max-width:970px;
  width:100%;
  margin:20px auto
}

.wrap-1 .idea-wrap{
  max-width:400px;
  width:90%;
  margin:20px auto
}

.idea img{
  width:100%;
}

.box{
  background-color: #f1f1f;
  color: #000;
  min-height:300px;
  border-top: 40px solid #2eb5e6;
  border-bottom: 40px solid #2eb5e6;
  border-right: 40px solid #2eb5e6;
  border-left: 40px solid #2eb5e6;
  border-radius: 2px;
  padding: 35px 50px;
  position:relative
}

.style-1 .box{

}

.style-2 .box{
  color: #000;
  border-color: #000;
}

.style-3 .box{
  color: #000;
  border-color: #e21004;
}

.title{
 font-size:1.20em;
 margin-bottom: 0.3em;
 font-weight:700
}

.fa-quote-left{
 margin-left: -10.4em;
 display:none
}

.w3-quote{
  font-size:2.5em;
  vertical-align: bottom;
  line-height: 0
}

.w3-quote-left{
  margin-left: -0.38em;
  margin-right:0.04em
}

.w3-quote-right{
}

.idea{
  font-size:1.0em
}

.lower-wrap{
  min-height: 50px
}

.who-wrap{
  margin-top:.7em
}

.w3-dash{
  font-size:25px;
  margin-right:.35em;
  line-height:0
}

.who{
  color:#F1E50D;
  color:#000;
  font-size:.85em;
}

.w3-dash-note{
  opacity:0
}
.note-wrap{
  padding-top:.3em;
  color:#F1E50D;
  color:#000;
  padding-right:50px
}
.note{
  font-size:0.7em
}

.brand-wrap {
  position: absolute;
  right:15px;
  bottom:5px
}

.brand-wrap img{
  width:75px;
}

.caption{
  text-align:right;
  margin-top: 0.2em;
  font-size:0.52em
}

.caption .fa{
  font-size:1.2em;
  margin-left:.7em;
  line-height:.8;
  vertical-align:bottom;
}

.caption a{
  text-decoration:none;
  color:#000
}

.styles{
  position:absolute;
  right:15px;
  bottom:5px
}

@media (max-width: 768px) { 
  body{
    font-size:20px;
	line-height:1.15
  }
  
  .box{
    padding: 20px 30px;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-right-width: 10px;
	border-left-width: 10px
  }
  
  #page-wrap .fa{
    font-size:125%;
  }
  
  .w3-dash{
    font-size:15px
  }
  
  .note-wrap{
    padding-right:18px
  }
  
  .brand-wrap img{
    width:50px
  }
  
  .caption{
    text-align:left;
	font-size: 18px;
  }
  
  .caption a{
    padding: .4em;
    display:block;
  }
  
  .caption .fa{
    margin-left: .2em
  }
}

